{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="span4">
        <div class="well well-small">
            <ul class="nav nav-list">
                <li><a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a></li>
                <li><a href="products.html">Mes commandes</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                {#<li style="border:0"> &nbsp;</li>
                <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>#}
            </ul>
        </div>
    </div>

    <div class="span8 text-center">
        <div class="well">
            <h4>Modification de mots de passe</h4>

                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" class="shopBtn" value="{{ 'change_password.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
        </div>
    </div>
</div>



