<!--
Clients
-->
<div>
    <section class="our_client">
        <hr class="soften"/>
        <h3 class="title cntr"><span class="text">Nos Partenaires</span></h3>
        <hr class="soften"/>
        <div class="row">
            <div class="span2">
                <a href="#"><img alt="" src="{{ asset('assets/img/1.png') }}"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="{{ asset('assets/img/2.png') }}"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="{{ asset('assets/img/3.png') }}"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="{{ asset('assets/img/4.png') }}"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="{{ asset('assets/img/5.png') }}"></a>
            </div>
            <div class="span2">
                <a href="#"><img alt="" src="{{ asset('assets/img/6.png') }}"></a>
            </div>
        </div>
    </section>
</div>